{% extends 'inside_base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block body %}


<!-- Main -->
<div class="view">

    <section class="grid" id="main">
        <h1>Delete Task</h1>
        <br>
        <a href="{% url 'app:tasks' %}" class="btn action action--button "><button>Back</button></a>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">

                    <h3>Are you sure you want to delete "{{item}}"?</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" text="Confirm"/>
                    </form>

                </div>
            </div>
          </div>
        </div>
    </section>
</div>

{% endblock %}
