{% extends 'inside_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block body %}


<!-- Main -->
<div class="view">

    <!-- Grid -->

    <section class="grid" id="main">
        <header>
            <span class="avatar"><img {% if request.user.customer.profile_pic %} src="{{request.user.customer.profile_pic.url}}" {% else %} src="{% static 'images/dummy.jpg' %}" {% endif %} alt="" /></span>
            <h3>{{user.username}}</h3>
            <h5 style="text-decoration: underline; font-weight: 400">{{user.email}}</h5>
            <a class="btn action--button action viewing" href="{% url 'app:add_Beneficiary' %}">Add A New Beneficiary</a>

        </header>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body"> <table>
            <thead>
                <tr>
                    <th class="action--text">First Name</th>
                    <th class="action--text">Last Name</th>
                    <th class="action--text">Email Address</th>
                    <th class="action--text">ID Number</th>
                    <th class="action--text"></th>
                    <th class="action--text"></th>
                    <th class="action--text"></th>
                    <th class="action--text"></th>

                </tr>
            </thead>
            <tbody>
                {% for beneficiary in beneficiaries %}

                <tr >
                    <td>
                        <h4 class="action--text">{{beneficiary.name}}</h4>
                    </td>

                    <td>
                        <h4 class="action--text">{{beneficiary.surname}}
                        </h4>
                    </td>
                    <td>
                        <h4 class="action--text">{{ beneficiary.email}}</h4>
                    </td>

                    <td>
                        <p class="action--text">{{ beneficiary.id_number}}</p>
                    </td>
                    <td>
                        <p class="action--text">{{ beneficiary.relation}}</p>
                    </td>
                    <td>
                        <p class="action--text">{{ beneficiary.date_created}}</p>
                    </td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'app:update_Beneficiary' beneficiary.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'app:delete_Beneficiary' beneficiary.id %}">Delete</a></td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'app:checkout' beneficiary.id %}"">Pay</a></td>
                </tr><!-- END TR-->
                {% endfor %}


            </tbody>
        </table>
    </section>


</div>
<script type="text/javascript">
    console.log("You have reached the Profile page")

</script>


{% endblock %}
